html, body {
  width: 100%;
  height: 100%;

  background-color: black;

  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -160px;

  border-radius: 10px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
