* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#spellquest {
  position: absolute;
  z-index: 1;
}

#spellquest-background {
  position: absolute;
  z-index: 0;
}
